# Lokalni izlazi build procesa analiziranog submodula
*.log
*.tmp
.DS_Store

# Privremeni lokalni artefakti seminarskog repozitorijuma
build/
unit_tests/build/
valgrind/build/
libfuzzer/build/
aflplusplus/build/
aflplusplus/results/findings/
cppcheck/build/
compile_flags.txt